* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-image: url(../images/pinkdust.png);
	background-attachment: relative;
	background-position: center;
	background-repeat: repeat;
}

#container {
	margin-bottom: -100px;
}

#foot {
	height: 100px;
	background-color: rgba(230, 206, 224, 0.45);
	color: #fff;
	text-align: center;
	padding: 40px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 15%;
}

footer#foot::before {
	content: none;
	content: "";
	display: block;
	clear: both;
}

#gifsDiv {
	height: 80vh;
}

#topicButtons {
	padding: 10px;
	margin: 10px;
}

button.buttonStyle, button#gifBtnText {
	margin: 5px;
	background-color: rgba(255, 151, 151, 0.56);
	border: 1px solid #444;
}

.gifImg {
	padding: 30px;
	border-radius: 15px;
	background-color: pink;
	border: 3px solid #fff;
	margin: 10px;
	height: 230px;
}

.ratingInfo {
	font-size: 20px;
	color: #fff;
}