/*=========== GLOBAL =============*/

html, body {
	height: 100%;
}

body {
	color: white;
	background-image: url(../images/pinkdust.png);
	background-attachment: relative;
	background-position: center;
	background-repeat: repeat;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#container {
	margin-bottom: -100px;
	flex: 1;
	width: 90%;
}

#gifsDiv {
	min-height: 85vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.imgRatingDiv {
	margin: auto;
	flex: 1;
}

#foot {
	height: 100px;
	background-color: rgba(230, 206, 224, 0.45);
	color: #fff;
	text-align: center;
	padding: 40px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top: 30px;
}

footer#foot::before {
	content: none;
	content: "";
	display: block;
	clear: both;
}

.topicButtons {
	padding: 10px;
	margin: 10px;
	border-radius: none;
	background-color: black;
	border: none;
}

button.buttonStyle, button#gifBtnText {
	margin-right: 15px;
	margin-bottom: 10px;
	background-color: rgba(255, 151, 151, 0.56);
	border-color: rgb(208, 122, 122);
}

button.buttonStyle:hover, button#gifBtnText:hover {
	background-color: rgb(212, 177, 177);
	transition: all 0.5s;
}

button.buttonStyle:active, button#gifBtnText:active {
	background-color: rgb(189, 60, 60);
}

#newTextBtn {
	margin-top: 1px;
}

#addAGif {
	margin-top: 30px;
}

.gifImg {
	padding: 30px;
	background-color: pink;
	margin: 10px;
	height: 230px;
	width: 230px;
}

.ratingInfo {
	font-size: 20px;
	color: #fff;
	margin-left: 10px;
}
